﻿<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>@ViewBag.Title - TCDD</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
       
</head>
<body>
    <div class="btn-group" style="float:right">
        <button type="button" class="btn btn-danger">Dil seceneği</button>
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">TR</a></li>
            <li><a href="#">ENG</a></li>
        </ul>
    </div>
      <div class="jumbotron">
        <h1><img src="~/Content/img/Tcdd_logo.PNG" alt="..." width="100" height="100">TCDD </h1>
        <p class="lead">Güvenli Yolculuğun Adresi</p>
    </div>
    
    <div class="btn-group" role="group" aria-label="..." style="float:right";>
        <button type="button" class="btn btn-default">Üye Ol</button>
        <button type="button" class="btn btn-default">Üye Girişi</button>
    </div>
    
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Ana Sayfa</a></li>
        <li role="presentation"><a href="#">İletişim</a></li>
    </ul>
        
    <div class="container body-content">
        @RenderBody()

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <i style="font-size:36px" class="fa">&#xf082;</i>
        <i style="font-size:36px" class="fa">&#xf081;</i>
        <i style="font-size:36px" class="fa">&#xf16d;</i>
        <i style="font-size:36px" class="fa">&#xf2ad;</i>
        <i style="font-size:36px" class="fa">&#xf166;</i>

        <hr />
                
        <footer>
            <p>&copy; @DateTime.Now.Year - TCDD</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    </a>
</body>
</html>
