﻿@{
    ViewBag.Title = "Ana Sayfa";
}


<table border="0">
    <tr>
        <td><!DOCTYPE HTML>
<html>

<body>

    <div class="w3-content w3-section" style="max-width:900px">

        <img class="mySlides w3-animate-fading" src="~/Content/img/Ekran Alıntısı.PNG" alt="..." width="800" height="500">
        <img class="mySlides w3-animate-fading" src="~/Content/img/Ekran Alıntısı.PNG1.PNG" alt="..." width="800" height="500">



        <!--<img class="mySlides w3-animate-fading" src="~/Content/img/Ekran Alıntısı.PNG" alt="..." width="600" height="450">
         <img class="mySlides w3-animate-fading" src="~/Content/img/Ekran Alıntısı.PNG1.PNG" alt="..." width="600" height="450">-->
    </div>

    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 5000);
        }
    </script>
</td>
                <td>
                    <div class="btn-group" align:center >
                        <button type="button" class="btn btn-danger">NEREDEN?</button>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">ADANA</a></li>
                            <li><a href="#">ANTALYA</a></li>
                            <li><a href="#">ANKARA</a></li>
                           
                        </ul>
                    </div>
                    ---->
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">NEREYE?</button>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">ADANA</a></li>
                            <li><a href="#">ANTALYA</a></li>
                            <li><a href="#">ANKARA</a></li>

                        </ul>
                    </div>

                    <div class="btn-group centerbtn">
                        <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gidiş Tarihi <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">23/11/2016</a></li>
                        </ul>
                    </div>        
                    <br/>     
                    <a class="btn btn-default center" href="#" role="button">ARA</a>
              </td>
           </tr>
       </table>


</body>
</html>

    <div class="row">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">duyrular</div>
            <div class="panel-body">
                <br />
                Adaray bakım çalışması nedeniyle hizmete kapalıdır.
            </div>
        </div>
    </div>



   
